# Virtual environments
.venv/
venv/
ENV/
env/

# Python bytecode & caches
__pycache__/
*.py[cod]
*$py.class

# Mypy & pytest caches
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Coverage reports
.coverage
coverage.xml
htmlcov/

# Logs
logs/
*.log

# IDE/editor settings
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Env files
.env
.env.*.local

# Build / distribution
build/
dist/
*.egg-info/
